/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
  $abritel-x: 1517px;
  $abritel-y: 163px;
  $abritel-offset-x: -1517px;
  $abritel-offset-y: -163px;
  $abritel-width: 67px;
  $abritel-height: 18px;
  $abritel-total-width: 1934px;
  $abritel-total-height: 400px;
  $abritel-image: 'sprite.png';
  $abritel: 1517px 163px -1517px -163px 67px 18px 1934px 400px 'sprite.png';
  $alugue-temporada-x: 1192px;
  $alugue-temporada-y: 230px;
  $alugue-temporada-offset-x: -1192px;
  $alugue-temporada-offset-y: -230px;
  $alugue-temporada-width: 100px;
  $alugue-temporada-height: 13px;
  $alugue-temporada-total-width: 1934px;
  $alugue-temporada-total-height: 400px;
  $alugue-temporada-image: 'sprite.png';
  $alugue-temporada: 1192px 230px -1192px -230px 100px 13px 1934px 400px 'sprite.png';
  $birdhouses-clouds-x: 397px;
  $birdhouses-clouds-y: 0px;
  $birdhouses-clouds-offset-x: -397px;
  $birdhouses-clouds-offset-y: 0px;
  $birdhouses-clouds-width: 397px;
  $birdhouses-clouds-height: 233px;
  $birdhouses-clouds-total-width: 1934px;
  $birdhouses-clouds-total-height: 400px;
  $birdhouses-clouds-image: 'sprite.png';
  $birdhouses-clouds: 397px 0px -397px 0px 397px 233px 1934px 400px 'sprite.png';
  $birdhouses-houses-x: 0px;
  $birdhouses-houses-y: 0px;
  $birdhouses-houses-offset-x: 0px;
  $birdhouses-houses-offset-y: 0px;
  $birdhouses-houses-width: 397px;
  $birdhouses-houses-height: 400px;
  $birdhouses-houses-total-width: 1934px;
  $birdhouses-houses-total-height: 400px;
  $birdhouses-houses-image: 'sprite.png';
  $birdhouses-houses: 0px 0px 0px 0px 397px 400px 1934px 400px 'sprite.png';
  $bluetent-dots-mobile-x: 1893px;
  $bluetent-dots-mobile-y: 163px;
  $bluetent-dots-mobile-offset-x: -1893px;
  $bluetent-dots-mobile-offset-y: -163px;
  $bluetent-dots-mobile-width: 32px;
  $bluetent-dots-mobile-height: 8px;
  $bluetent-dots-mobile-total-width: 1934px;
  $bluetent-dots-mobile-total-height: 400px;
  $bluetent-dots-mobile-image: 'sprite.png';
  $bluetent-dots-mobile: 1893px 163px -1893px -163px 32px 8px 1934px 400px 'sprite.png';
  $bluetent-dots-x: 876px;
  $bluetent-dots-y: 230px;
  $bluetent-dots-offset-x: -876px;
  $bluetent-dots-offset-y: -230px;
  $bluetent-dots-width: 63px;
  $bluetent-dots-height: 15px;
  $bluetent-dots-total-width: 1934px;
  $bluetent-dots-total-height: 400px;
  $bluetent-dots-image: 'sprite.png';
  $bluetent-dots: 876px 230px -876px -230px 63px 15px 1934px 400px 'sprite.png';
  $bluetent-mobile-x: 993px;
  $bluetent-mobile-y: 163px;
  $bluetent-mobile-offset-x: -993px;
  $bluetent-mobile-offset-y: -163px;
  $bluetent-mobile-width: 48px;
  $bluetent-mobile-height: 49px;
  $bluetent-mobile-total-width: 1934px;
  $bluetent-mobile-total-height: 400px;
  $bluetent-mobile-image: 'sprite.png';
  $bluetent-mobile: 993px 163px -993px -163px 48px 49px 1934px 400px 'sprite.png';
  $bluetent-x: 819px;
  $bluetent-y: 163px;
  $bluetent-offset-x: -819px;
  $bluetent-offset-y: -163px;
  $bluetent-width: 66px;
  $bluetent-height: 67px;
  $bluetent-total-width: 1934px;
  $bluetent-total-height: 400px;
  $bluetent-image: 'sprite.png';
  $bluetent: 819px 163px -819px -163px 66px 67px 1934px 400px 'sprite.png';
  $bqqkabach-x: 1110px;
  $bqqkabach-y: 230px;
  $bqqkabach-offset-x: -1110px;
  $bqqkabach-offset-y: -230px;
  $bqqkabach-width: 82px;
  $bqqkabach-height: 13px;
  $bqqkabach-total-width: 1934px;
  $bqqkabach-total-height: 400px;
  $bqqkabach-image: 'sprite.png';
  $bqqkabach: 1110px 230px -1110px -230px 82px 13px 1934px 400px 'sprite.png';
  $fewo-direkt-x: 939px;
  $fewo-direkt-y: 230px;
  $fewo-direkt-offset-x: -939px;
  $fewo-direkt-offset-y: -230px;
  $fewo-direkt-width: 87px;
  $fewo-direkt-height: 14px;
  $fewo-direkt-total-width: 1934px;
  $fewo-direkt-total-height: 400px;
  $fewo-direkt-image: 'sprite.png';
  $fewo-direkt: 939px 230px -939px -230px 87px 14px 1934px 400px 'sprite.png';
  $graph-dots1-mobile-x: 911px;
  $graph-dots1-mobile-y: 163px;
  $graph-dots1-mobile-offset-x: -911px;
  $graph-dots1-mobile-offset-y: -163px;
  $graph-dots1-mobile-width: 13px;
  $graph-dots1-mobile-height: 52px;
  $graph-dots1-mobile-total-width: 1934px;
  $graph-dots1-mobile-total-height: 400px;
  $graph-dots1-mobile-image: 'sprite.png';
  $graph-dots1-mobile: 911px 163px -911px -163px 13px 52px 1934px 400px 'sprite.png';
  $graph-dots1-x: 794px;
  $graph-dots1-y: 163px;
  $graph-dots1-offset-x: -794px;
  $graph-dots1-offset-y: -163px;
  $graph-dots1-width: 25px;
  $graph-dots1-height: 104px;
  $graph-dots1-total-width: 1934px;
  $graph-dots1-total-height: 400px;
  $graph-dots1-image: 'sprite.png';
  $graph-dots1: 794px 163px -794px -163px 25px 104px 1934px 400px 'sprite.png';
  $graph-dots2-mobile-x: 885px;
  $graph-dots2-mobile-y: 163px;
  $graph-dots2-mobile-offset-x: -885px;
  $graph-dots2-mobile-offset-y: -163px;
  $graph-dots2-mobile-width: 26px;
  $graph-dots2-mobile-height: 61px;
  $graph-dots2-mobile-total-width: 1934px;
  $graph-dots2-mobile-total-height: 400px;
  $graph-dots2-mobile-image: 'sprite.png';
  $graph-dots2-mobile: 885px 163px -885px -163px 26px 61px 1934px 400px 'sprite.png';
  $graph-dots2-x: 939px;
  $graph-dots2-y: 163px;
  $graph-dots2-offset-x: -939px;
  $graph-dots2-offset-y: -163px;
  $graph-dots2-width: 54px;
  $graph-dots2-height: 51px;
  $graph-dots2-total-width: 1934px;
  $graph-dots2-total-height: 400px;
  $graph-dots2-image: 'sprite.png';
  $graph-dots2: 939px 163px -939px -163px 54px 51px 1934px 400px 'sprite.png';
  $graph-dots3-mobile-x: 924px;
  $graph-dots3-mobile-y: 163px;
  $graph-dots3-mobile-offset-x: -924px;
  $graph-dots3-mobile-offset-y: -163px;
  $graph-dots3-mobile-width: 15px;
  $graph-dots3-mobile-height: 52px;
  $graph-dots3-mobile-total-width: 1934px;
  $graph-dots3-mobile-total-height: 400px;
  $graph-dots3-mobile-image: 'sprite.png';
  $graph-dots3-mobile: 924px 163px -924px -163px 15px 52px 1934px 400px 'sprite.png';
  $graph-dots3-x: 1339px;
  $graph-dots3-y: 163px;
  $graph-dots3-offset-x: -1339px;
  $graph-dots3-offset-y: -163px;
  $graph-dots3-width: 43px;
  $graph-dots3-height: 28px;
  $graph-dots3-total-width: 1934px;
  $graph-dots3-total-height: 400px;
  $graph-dots3-image: 'sprite.png';
  $graph-dots3: 1339px 163px -1339px -163px 43px 28px 1934px 400px 'sprite.png';
  $graph-dots4-x: 1041px;
  $graph-dots4-y: 163px;
  $graph-dots4-offset-x: -1041px;
  $graph-dots4-offset-y: -163px;
  $graph-dots4-width: 99px;
  $graph-dots4-height: 41px;
  $graph-dots4-total-width: 1934px;
  $graph-dots4-total-height: 400px;
  $graph-dots4-image: 'sprite.png';
  $graph-dots4: 1041px 163px -1041px -163px 99px 41px 1934px 400px 'sprite.png';
  $homeaway-x: 1803px;
  $homeaway-y: 163px;
  $homeaway-offset-x: -1803px;
  $homeaway-offset-y: -163px;
  $homeaway-width: 90px;
  $homeaway-height: 16px;
  $homeaway-total-width: 1934px;
  $homeaway-total-height: 400px;
  $homeaway-image: 'sprite.png';
  $homeaway: 1803px 163px -1803px -163px 90px 16px 1934px 400px 'sprite.png';
  $homelidays-x: 1438px;
  $homelidays-y: 163px;
  $homelidays-offset-x: -1438px;
  $homelidays-offset-y: -163px;
  $homelidays-width: 79px;
  $homelidays-height: 19px;
  $homelidays-total-width: 1934px;
  $homelidays-total-height: 400px;
  $homelidays-image: 'sprite.png';
  $homelidays: 1438px 163px -1438px -163px 79px 19px 1934px 400px 'sprite.png';
  $hr-shadow-x: 794px;
  $hr-shadow-y: 0px;
  $hr-shadow-offset-x: -794px;
  $hr-shadow-offset-y: 0px;
  $hr-shadow-width: 1140px;
  $hr-shadow-height: 163px;
  $hr-shadow-total-width: 1934px;
  $hr-shadow-total-height: 400px;
  $hr-shadow-image: 'sprite.png';
  $hr-shadow: 794px 0px -794px 0px 1140px 163px 1934px 400px 'sprite.png';
  $logo-mobile-x: 1647px;
  $logo-mobile-y: 163px;
  $logo-mobile-offset-x: -1647px;
  $logo-mobile-offset-y: -163px;
  $logo-mobile-width: 156px;
  $logo-mobile-height: 17px;
  $logo-mobile-total-width: 1934px;
  $logo-mobile-total-height: 400px;
  $logo-mobile-image: 'sprite.png';
  $logo-mobile: 1647px 163px -1647px -163px 156px 17px 1934px 400px 'sprite.png';
  $logo-x: 1140px;
  $logo-y: 163px;
  $logo-offset-x: -1140px;
  $logo-offset-y: -163px;
  $logo-width: 199px;
  $logo-height: 40px;
  $logo-total-width: 1934px;
  $logo-total-height: 400px;
  $logo-image: 'sprite.png';
  $logo: 1140px 163px -1140px -163px 199px 40px 1934px 400px 'sprite.png';
  $ownersdirect-x: 1292px;
  $ownersdirect-y: 230px;
  $ownersdirect-offset-x: -1292px;
  $ownersdirect-offset-y: -230px;
  $ownersdirect-width: 99px;
  $ownersdirect-height: 13px;
  $ownersdirect-total-width: 1934px;
  $ownersdirect-total-height: 400px;
  $ownersdirect-image: 'sprite.png';
  $ownersdirect: 1292px 230px -1292px -230px 99px 13px 1934px 400px 'sprite.png';
  $stayz-x: 1382px;
  $stayz-y: 163px;
  $stayz-offset-x: -1382px;
  $stayz-offset-y: -163px;
  $stayz-width: 56px;
  $stayz-height: 21px;
  $stayz-total-width: 1934px;
  $stayz-total-height: 400px;
  $stayz-image: 'sprite.png';
  $stayz: 1382px 163px -1382px -163px 56px 21px 1934px 400px 'sprite.png';
  $toprural-x: 1584px;
  $toprural-y: 163px;
  $toprural-offset-x: -1584px;
  $toprural-offset-y: -163px;
  $toprural-width: 63px;
  $toprural-height: 18px;
  $toprural-total-width: 1934px;
  $toprural-total-height: 400px;
  $toprural-image: 'sprite.png';
  $toprural: 1584px 163px -1584px -163px 63px 18px 1934px 400px 'sprite.png';
  $travelmob-x: 1026px;
  $travelmob-y: 230px;
  $travelmob-offset-x: -1026px;
  $travelmob-offset-y: -230px;
  $travelmob-width: 84px;
  $travelmob-height: 14px;
  $travelmob-total-width: 1934px;
  $travelmob-total-height: 400px;
  $travelmob-image: 'sprite.png';
  $travelmob: 1026px 230px -1026px -230px 84px 14px 1934px 400px 'sprite.png';
  $vacantionrentals-x: 1339px;
  $vacantionrentals-y: 191px;
  $vacantionrentals-offset-x: -1339px;
  $vacantionrentals-offset-y: -191px;
  $vacantionrentals-width: 111px;
  $vacantionrentals-height: 10px;
  $vacantionrentals-total-width: 1934px;
  $vacantionrentals-total-height: 400px;
  $vacantionrentals-image: 'sprite.png';
  $vacantionrentals: 1339px 191px -1339px -191px 111px 10px 1934px 400px 'sprite.png';
  $vrbo-x: 819px;
  $vrbo-y: 230px;
  $vrbo-offset-x: -819px;
  $vrbo-offset-y: -230px;
  $vrbo-width: 57px;
  $vrbo-height: 16px;
  $vrbo-total-width: 1934px;
  $vrbo-total-height: 400px;
  $vrbo-image: 'sprite.png';
  $vrbo: 819px 230px -819px -230px 57px 16px 1934px 400px 'sprite.png';

  @mixin sprite-width($sprite) {
   width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: image-url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

$sprite_width: 1934px;
$sprite_height: 400px;

.sprite-abritel {
  @include sprite($abritel);
}
.sprite-alugue-temporada {
  @include sprite($alugue-temporada);
}
.sprite-birdhouses-clouds {
  @include sprite($birdhouses-clouds);
}
.sprite-birdhouses-houses {
  @include sprite($birdhouses-houses);
}
.sprite-bluetent-dots-mobile {
  @include sprite($bluetent-dots-mobile);
}
.sprite-bluetent-dots {
  @include sprite($bluetent-dots);
}
.sprite-bluetent-mobile {
  @include sprite($bluetent-mobile);
}
.sprite-bluetent {
  @include sprite($bluetent);
}
.sprite-bqqkabach {
  @include sprite($bqqkabach);
}
.sprite-fewo-direkt {
  @include sprite($fewo-direkt);
}
.sprite-graph-dots1-mobile {
  @include sprite($graph-dots1-mobile);
}
.sprite-graph-dots1 {
  @include sprite($graph-dots1);
}
.sprite-graph-dots2-mobile {
  @include sprite($graph-dots2-mobile);
}
.sprite-graph-dots2 {
  @include sprite($graph-dots2);
}
.sprite-graph-dots3-mobile {
  @include sprite($graph-dots3-mobile);
}
.sprite-graph-dots3 {
  @include sprite($graph-dots3);
}
.sprite-graph-dots4 {
  @include sprite($graph-dots4);
}
.sprite-homeaway {
  @include sprite($homeaway);
}
.sprite-homelidays {
  @include sprite($homelidays);
}
.sprite-hr-shadow {
  @include sprite($hr-shadow);
}
.sprite-logo-mobile {
  @include sprite($logo-mobile);
}
.sprite-logo {
  @include sprite($logo);
}
.sprite-ownersdirect {
  @include sprite($ownersdirect);
}
.sprite-stayz {
  @include sprite($stayz);
}
.sprite-toprural {
  @include sprite($toprural);
}
.sprite-travelmob {
  @include sprite($travelmob);
}
.sprite-vacantionrentals {
  @include sprite($vacantionrentals);
}
.sprite-vrbo {
  @include sprite($vrbo);
}
