{
// Default options
'functions': true
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
{{#items}}
  ${{name}}-x: round({{x}} / 2px);
  ${{name}}-y: round({{y}} / 2px);
  ${{name}}-offset-x: round({{offset_x}} / 2px);
  ${{name}}-offset-y: round({{offset_y}} / 2px);
  ${{name}}-width: round({{width}} / 2px);
  ${{name}}-height: round({{height}} / 2px);
  ${{name}}-total-width: round({{total_width}} / 2px);
  ${{name}}-total-height: round({{total_height}} / 2px);
  ${{name}}-image: '{{{escaped_image}}}';
  ${{name}}: round({{px.x}} / 2) round({{px.y}} / 2) round({{px.offset_x}} / 2) round({{px.offset_y}} / 2) round({{px.width}} / 2) round({{px.height}} / 2) round({{px.total_width}} / 2) round({{px.total_height}} / 2) '{{{escaped_image}}}' round({{total_width}}px / 2) round({{total_height}}px / 2);
{{/items}}

{{#options.functions}}

  @mixin sprite2x-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite2x-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite2x-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite2x-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: image-url(#{$sprite-image});
  }

  @mixin sprite-2x-old($sprite) {
    @include sprite2x-image($sprite);
    @include sprite2x-position($sprite);
    @include sprite2x-width($sprite);
    @include sprite2x-height($sprite);
  }

  @mixin sprite2x($sprite) {
    @if $sprite != '' {

      @include sprite2x-image($sprite);
      @include sprite2x-position($sprite);
      @include sprite2x-width($sprite);
      @include sprite2x-height($sprite);
      background-size: nth($sprite, 10) nth($sprite, 11);
    }
  }
{{/options.functions}}


@media (-webkit-min-device-pixel-ratio: 1.3),
(min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {
{{#items}}
  .sprite-{{originalName}} {
    @include sprite2x(${{name}});
  }
{{/items}}
}
